<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Mongoose Store</title>
	</head>
	<body>
	
		<nav>
			<a href="/product">Back to Products</a>
		</nav>

		<h1><%= product.name %></h1>
		 <h2><%= product.description%></h2>
		 <img src="<%=product.img%>"/>
		 <h3>$<%= product.price %></h3>
		<h3><%= product.qty %></h3>
		<input type="button" value="buy" />
	</body>
</html>